version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: moustache-republic-ecommerce
    ports:
      - "3000:80"
    restart: unless-stopped
